@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-primary: #FF5400;
}

/* shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body {
    max-width: 81.25vw;
    margin: 0 auto;
}

.button--primary {
    padding: 16px 35px;
    border: 0;
    color: #FFF;
    border-radius: 8px;
    background: var(--color-primary);
}

/* header style */
/* nav styles */
nav {
    margin: 50px 0;
}

nav,
nav div,
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>div {
    gap: 16px;
}

nav ul {
    gap: 44px;
}

nav li {
    list-style-type: none;
}

.nav__item {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 700;
}

.nav__item--hidden {
    display: none;
}

nav h2 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.home,
.travel {
    color: var(--color-primary);
}

/* banner styles */
.banner {
    text-align: center;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 500px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner p {
    max-width: 676px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner__form {
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px 0;
}

.banner_input {
    width: 142px;
    height: 52px;
    padding: 0 16px;
    border: 0;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    .nav__item {
        display: none;
    }

    .nav__item--hidden {
        display: block;
    }

    nav h2 {
        font-size: 22px;
    }

    nav img {
        width: 22px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    .banner {
        padding: 32px;
    }

    .banner__form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner input, .banner select, .banner button {
        width: 90%;
    }
}